body{
	background:red;	
}

#wrapper{
	width:960px;
	height:900px;
	background:grey;
	margin:0 auto;
}
#header{
	width:100%;
	height:15%;
	background:yellow;
}
#main{
	width:100%;
	height:65%;
	background:orange;
}
#footer{
	width:100%;
	height:22%;
	background:green;
}
#logo{
	width:15%;
	height:100%;
	background:blue;
	float:left;
}
#harambe{
	width:85%;
	height:100%;
	background:purple;
	float:right;
}

#left{
	width:40%;
	height:100%;
	background:lime;
	float:left;
}
#right{
	width:60%;
	height:100%;
	background:cyan;
	float:right;
		
}











